{%extends 'basic.html'%}
{% block title %} Home Page {% endblock %}
{% block main_body %}
{% load static %}
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators ">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'images/grp.jpg' %}" class="d-block w-100" alt="... " height="650">
        <div class="carousel-caption d-none d-md-block">
          <h5>A Random Pic</h5>
          <p>Some representative placeholder for the first slide.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{% static 'images/edokati.png' %}" class="d-block w-100" alt="..." height="650">
        <div class="carousel-caption d-none d-md-block">
          <h5>EMO BHAYYA NANNADGAKU</h5>
          <p>Some representative placeholder for the second slide.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{% static 'images/sports-day-4.jpg' %}" class="d-block w-100" alt="..." height="650">
        <div class="carousel-caption d-none d-md-block">
          <h5>OK...LAST ANDI</h5>
          <p>Some representative placeholder for the third slide.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
{% endblock %}
